body {
  background-color: rgb(72, 71, 71);
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.add-question-button {
  display: flex;
  padding-left: 2rem;
  margin-left: 2rem;
  align-items: center;
  font-size: 1.2rem;
  height: 2.5rem;
  border-radius: 0.5rem;
  border: 1.5px solid #f0edcc;
  background-color: #02343f;
  color: #f0edcc;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: bolder;
  font-style: normal;
  /* width: 32rem; ye fix rahta hai isliye ise hata diya ab yehi width desktop pe same rakhni hai to apan kya karenge  */
  max-width: 32rem; /* NEW: Limit maximum width */
  width: 100%; /* NEW: Make it flexible , jab bhi media query langayenge to need of 100% okaky */
}
.add-question-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 68.5rem;
  margin: auto;
  background-color: #02343f;
  padding: 2%; /*responsive dale to padding kam kar dena*/
  border-radius: 0.5rem;
  color: #f0edcc;
  justify-content: center;
  align-items: center;
  height: fit-content;
}

.parent1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 90%;
}

.parent1 > .child1,
.parent1 > .child2 {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.parent1 .child1 input {
  text-align: center;
  width: 100%;
  border: 0px;
  height: 2rem;
  color: #02343f;
  background-color: #f0edcc;
  border-radius: 0.4rem;
}

.parent1 .child2 select,
.parent1 .child2 input {
  text-align: center;
  width: 100%;
  border: 0px;
  height: 2rem;
  background-color: #f0edcc;
  color: #02343f;
  border-radius: 0.4rem;
}

input::placeholder,
#notes::placeholder {
  color: #023f4c8d;
}

.lable-input {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
  padding: 1rem;
  width: 30%;
}

.parent2 {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.parent2 .child1,
.parent2 .child2 {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}

.parent2 .child1 {
  width: 63.5%;
}

.parent2 .child1 #notes {
  height: 100%;
  padding: 1rem;
  text-align: center;
  border-radius: 0.4rem;
  background-color: #f0edcc;
  border: 0;
}

.parent2 .child2 {
  width: 30%;
}

.parent2 .child2 input{
  height: 2rem;
  text-align: center;
  border-radius: .4rem;
  background-color: #f0edcc;
  color: #02343f;
  border: 0;
}

.parent2 .child2 :nth-child(3) {
background-color: #f0edcc;
border: 0;
color: #02343f;
font-weight: bolder;
}

table {
  /* design */

  border-collapse: collapse;
  background-color: #02343f;
  color: #f0edcc;
  border: 1px solid #f0edcc;
  width: 100%;
  max-width: 30rem;
  margin: auto;
  visibility: hidden;
}
td,
th {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
  white-space: nowrap;
}
tr td:nth-child(5),
tr td:nth-child(8) {
  width: 2rem;
  max-width: fit-content;
  max-height: fit-content;
  min-width: 15rem;
  white-space: wrap;
}

.table-container {
  overflow-x: auto; /* horizontal scroll enable होगा */
  -webkit-overflow-scrolling: touch; /* iOS के लिए smooth scrolling */
}


@media (max-width:768px) {
  .add-question-button{
    width: 98%;
    margin: 0 auto;
  }
  .add-question-form{
     width: 95%;
    margin: 0 auto;
  }
  
}