body {
  background-color: rgb(72, 71, 71);
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.add-question-button {
  margin: auto;
  display: flex;
  justify-content: flex-start;
  padding-left: 2rem;
  align-items: center;
  font-size: 1.2rem;
  height: 2.5rem;
  border-radius: .5rem;
  border: 2px solid #f0edcc;
  background-color: #02343f;
  color: #f0edcc;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: bolder;
  font-style: normal;
  width: 32rem;
}
.add-question-form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 30rem;
  margin: auto;
  gap: 2rem;
  background-color: #02343f;
  padding: 1rem;
  border-radius: 0.5rem;
  color: #f0edcc;
  justify-content: center;
  align-items: center;
}

.parent {
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  gap: 5rem;
}

.parent2 {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#link {
  width: 26rem;
  height: 2rem;
}

#notes {
  width: 26rem;
  height: 3.5rem;
  border-radius: 0.2rem;
  padding: 0 0.5rem;
    background-color: #f0edcc;
    color:#02343f;
}

#notes::placeholder{
  color: #02343f8d;
}

.child1,
.child2 {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}

.submit {
  width: 27rem;
  height: 2rem;
  margin-bottom: 1rem;
}

table {
  /* design */
  border-collapse: collapse;
  background-color: #02343f;
  color: #f0edcc;
  border: 1px solid #f0edcc;
}
td,
th {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
}

#difficulty,
#status,
#date,
input {
  height: 2rem;
  padding: 0 0.5rem;
  border: 0px;
  border-radius: 0.2rem;
  background-color: #f0edcc;
  color: #02343f;
  width: 10rem;
}

input::placeholder{
  color: #02343f95;
}


#difficulty,
#status{
  width: 11rem;
}